body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    margin-right: 100px;
    margin-top: 50px;
    flex-direction: column;
    gap: 45px;
}

.boxbackground {
    background-color: rgb(153, 153, 153);
    border-radius: 25px;
    width: 780px;
    height: 93px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    z-index: 2;
}

.boxtulisan {
    padding: 5px;
    margin-left: 12px;
}

.boxlihat {
    font-weight: 700;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    border-radius: 20px; /* Rounded corners */
    background-color: rgb(30, 204, 37); /* Background color of the button */
    width: 134px; /* Width of the button */
    height: 50px; /* Height of the button */
    margin-right: 70px; /* Space to the right of the button */
    color: white; /* Text color */
    border: none; /* Remove default button border */
    cursor: pointer; /* Pointer cursor on hover */
    text-align: center; /* Center text alignment */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.boxlihat:hover {
    background-color: darkgreen; /* Darker green on hover */
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttinput {
    font-weight: 700;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    border-radius: 20px; /* Rounded corners */
    background-color: rgb(30, 204, 37); /* Background color of the button */
    width: 134px; /* Width of the button */
    height: 50px; /* Height of the button */
    margin-right: 70px; /* Space to the right of the button */
    color: white; /* Text color */
    border: none; /* Remove default button border */
    cursor: pointer; /* Pointer cursor on hover */
    text-align: center; /* Center text alignment */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow */
    transition: background-color 0.3s ease;
}